@model List<Client>
@{
    ViewData["Title"] = "Client";
}
<div>
<h1>Client</h1>
<button>Exporter</button>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>IDClient</th>
            <th> Nom </th>
            <th> Prénom </th>
            <th> TypeClient </th>
            <th> lib </th>            
            <th> Sexe </th>
            <th> Date de naissance </th>
            <th> Ville </th>
            <th> Département </th>
            <th> Pays </th>
            <th> locn </th>
            <th> tid </th>
            <th> nid </th>
            <th> did </th>
            <th> lid </th>
            <th> vid </th>
            <th> sit </th>
            <th> reg </th>
            <th> capj </th>
            <th> dcapj </th>
            <th> sitj </th>
            <th> dsitj </th>
            <th> nidf </th>
            <th> Agence </th>
            <th> ges </th>
            <th> qua </th>
            <th> tax </th>
            <th> catl </th>
            <th> seg </th>
            <th> lter </th>
            <th> catn </th>
            <th> sec </th>
            <th> lienbq </th>
            <th> aclas </th>
            <th> maclas </th>
            <th> emtit </th>
            <th> lang </th>
            <th> nat </th>
            <th> res </th>
            <th> ichq </th>
            <th> dichq </th>
            <th> icb </th>
            <th> dicb </th>
            <th> epu </th>
            <th> utic </th>
            <th> uti </th>
            <th> dou </th>
            <th> dmo </th>
            <th> ord </th>
            <th> catr </th>
            <th> nomrest </th>
            <th> regn </th>
            <th> rrc </th>
            <th> dvrrc </th>
            <th> uti_vrrc </th>
            <th> idext </th>
            <th> opetr </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var clt in Model)
        {
            <tr>
                <td>@clt.cli</td>
                <td>@clt.nom </td>
                <td>@clt.pre </td>
                <td>@clt.tcli </td>
                <td>@clt.lib </td>                
                <td>@clt.sext </td>
                <td>@clt.dna </td>
                <td>@clt.viln </td>
                <td>@clt.depn </td>
                <td>@clt.payn </td>
                <td>@clt.locn </td>
                <td>@clt.tid </td>
                <td>@clt.nid </td>
                <td>@clt.did </td>
                <td>@clt.lid </td>
                <td>@clt.vid </td>
                <td>@clt.sit </td>
                <td>@clt.reg </td>
                <td>@clt.capj </td>
                <td>@clt.dcapj </td>
                <td>@clt.sitj </td>
                <td>@clt.dsitj </td>
                <td>@clt.nidf </td>
                <td>@clt.age </td>
                <td>@clt.ges </td>
                <td>@clt.qua </td>
                <td>@clt.tax </td>
                <td>@clt.catl </td>
                <td>@clt.seg </td>
                <td>@clt.lter </td>
                <td>@clt.catn </td>
                <td>@clt.sec </td>
                <td>@clt.lienbq </td>
                <td>@clt.aclas </td>
                <td>@clt.maclas </td>
                <td>@clt.emtit </td>
                <td>@clt.lang </td>
                <td>@clt.nat </td>
                <td>@clt.res </td>
                <td>@clt.ichq </td>
                <td>@clt.dichq </td>
                <td>@clt.icb </td>
                <td>@clt.dicb </td>
                <td>@clt.epu </td>
                <td>@clt.utic </td>
                <td>@clt.uti </td>
                <td>@clt.dou </td>
                <td>@clt.dmo </td>
                <td>@clt.ord </td>
                <td>@clt.catr </td>
                <td>@clt.nomrest </td>
                <td>@clt.regn </td>
                <td>@clt.rrc </td>
                <td>@clt.dvrrc </td>
                <td>@clt.uti_vrrc </td>
                <td>@clt.idext </td>
                <td>@clt.opetr </td>
            </tr>
        }
    </tbody>
</table>